@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Fonts */

@font-face {
  font-family: "Noto Serif Bold";
  src: url("../fonts/NotoSerif-Bold.ttf");
}

.noto-bold {
  font-family: "Noto Serif Bold", serif;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

.roboto-reg {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-med {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Marquee Animation */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
